* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f4f4f9;
    line-height: 1.6;
}

body {
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; 
}

header {
    background: linear-gradient(#0b1e80, #132168);
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

header h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cta-buttons a {
    padding: 15px 30px;
    border-radius: 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #ff8513;
}

.btn-secondary {
    background-color: #ff8513;
}

.btn-primary:hover {
    background-color: #00db63;
}

.btn-secondary:hover {
    background-color: #00db63;
}

/* Seção de cards func. & como fun. */
.game-section{
    padding: 40px 10px;
    background:#101a42;
    text-align: center;
}

.game-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

img {
    max-width: 100%;
    border: 0px;
  }

.game-section h3 {
  margin: -10px 0 10px;
  font-size: 1.2rem;
  line-height: 36px;
}

.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 300px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #5e5e5e no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(11, 25, 101, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 13, 34, 0.586));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Secao slider de imagens*/
.slider-section {
    margin: 0 auto;
    padding-block: 100px;
    background: linear-gradient( #101a42, #132168);
    
}

.slider-column {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem; 
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0)
      );
}

.swiper-slide {
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 10px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    
}

.swiper-button-next,
.swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 800;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    opacity: 0.75;
    border-radius: 50%;
    color: var(--white-100);
    background: var(--black-300);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

/* Seção de Impacto */
#impact {
    padding: 60px 20px;
    background: linear-gradient(#0b1e80, #132168);
    text-align: center;
}

#impact h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ffffff;
}

#impact p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    color: #ffffff;
    text-align: justify;
}

#impact .logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    margin-bottom: 20px;
}

/* Seção Quem Somos */
#about-us {
    padding: 60px 20px;
    background: linear-gradient(#0b1e80, #132168);
    text-align: center;
}

#about-us .container {
    max-width: 800px;
    margin: 0 auto;
}

#about-us .mascote {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
}

#about-us .mascote:hover {
    transform: scale(1.1); 
}

#about-us h2 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

#about-us p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: justify;
}

#about-us p:last-child {
    margin-bottom: 0;
}

/* Seção de Parceiro */
#partners {
    padding: 60px 20px;
    background: #101a42;
    text-align: center;
}

#partners h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

#partners p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 40px;
}

#partners .container {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.itemb {
    width: 200px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemb img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

/* Seção de Contato */
#contato {
    padding: 60px 20px;
    background: linear-gradient(#101a42, #132168);
    text-align: center;
}

#contato h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ffffff;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #ff8513;
    outline: none;
}

.form-group textarea {
    height: 120px;
    resize: vertical;
    max-height: 300px;
}

button[data-button] {
    background-color: #ff8513;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: background-color 0.3s ease;
}

button[data-button] i {
    margin-right: 8px;
}

button[data-button]:hover {
    background-color: #00d974;
}

.success, .error {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #00d974;
    animation: fadeIn 0.3s ease;
}

.error {
    color: #dc3545;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Seção de Time */
#our-team {
    padding: 40px 20px;
    background: #0b1e80;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.flow h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 900;
}

.flow p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 40px;
}

.auto-grid {
    display: grid;
    gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 1/1;
    position: relative;
    padding: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.3s ease;
    min-height: 400px; 
    width: 100%;
    max-width: 300px;
}

.profile img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 0;
    object-fit: cover;
    filter: grayscale(1);
    transition: filter 200ms ease, transform 250ms linear;
}

.profile::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.722));
    z-index: 1;
}

.profile h2,
.profile p {
    transform: translateY(2ex);
    z-index: 2;
    margin-bottom: 10px;
    text-align: center;
}

.profile h2 {
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.03ch;
    transition: 300ms transform ease;
}

.profile p {
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0;
    transition: 300ms opacity linear;
}

.profile:hover {
    transform: scale(1.05);
}

.profile:hover p {
    opacity: 1;
    transition-delay: 200ms;
}

.profile:hover img {
    filter: grayscale(0);
}



/* Footer */
footer {
    background: #101a42;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}

@media (max-width: 1320px) {
    .auto-grid {
        grid-template-columns: repeat(3, 1fr); 
        justify-items: center;
    }

    header h1 {
        font-size: 4rem;
        text-align: center;
    }

    header p {
        font-size: 1.2rem;
        text-align: center;
    }

    .cta-buttons a {
        padding: 12px 25px;
    }

    #impact h2, #about-us h2, #contato h2 {
        font-size: 2.5rem;
        text-align: center;
    }
    
    #impact p, #about-us p {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media (max-width: 1023px) {
    .auto-grid {
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center; 
    }

    header h1 {
        font-size: 3rem;
        text-align: center;
    }

    header p {
        font-size: 1rem;
        text-align: center;
    }

    .cta-buttons {
        flex-direction: column;
        align-items: center; 
    }

    .cta-buttons a {
        width: 80%; 
        max-width: 300px;
    }

    #impact h2, #about-us h2, #contato h2, .game-section h2, #partners h2, .flow h1 {
        font-size: 2rem;
        text-align: center;
    }

    #impact p, #about-us p {
        font-size: 1rem;
        text-align: center;
    }

    .form-container {
        padding: 20px;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .auto-grid {
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
    }

    header h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    header p {
        font-size: 0.9rem;
        text-align: center;
    }

    .cta-buttons a {
        width: 100%;
        max-width: 250px;
    }

    #impact h2, #about-us h2, #contato h2, .game-section h2, #partners h2, .flow h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    #impact p, #about-us p {
        font-size: 0.9rem;
        text-align: center;
    }

    .form-container {
         padding: 15px;
        max-width: 70%;
     }
}

@media (max-width: 640px) {
    .auto-grid {
        grid-template-columns: repeat(1, 1fr); 
        justify-items: center;

    }
}

@media (max-width: 480px) {
    .auto-grid {
        grid-template-columns: 1fr; 
        justify-items: center; 
    }

    header h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    header p {
        font-size: 1rem;
        text-align: center;
    }

    .cta-buttons a {
        width: 100%;
        max-width: 250px;
    }

    #impact h2, #about-us h2, #contato h2, .game-section h2, #partners h2, .flow h1 {
        font-size: 2rem;
        text-align: center;
    }

    #impact p, #about-us p {
        font-size: 1rem;
        text-align: center;
    }

    .form-container {
        padding: 15px;
        max-width: 90%;
    }
}

@media (max-width: 320px) {
    header h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    header p {
        font-size: 1rem;
        text-align: center;
    }

    .cta-buttons a {
        width: 100%;
        max-width: 250px;
    }

    #impact h2, #about-us h2, #contato h2, .game-section h2, #partners h2, .flow h1 {
        font-size: 2rem;
        text-align: center;
    }

    #impact p, #about-us p {
        font-size: 1rem;
        text-align: center;
    }

    .form-container {
        padding: 10px;
        max-width: 100%;
    }
}
